input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 2px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 5px;
  width: 15%;
  border-radius: 0%;
  background: #000;
  margin-top: -4px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.carousel-container-with-scrollbar {
  padding-left: 20px;
  padding-bottom: 20px;
}

.custom-slider__input {
  width: 100%;
}

.slider-image-item {
  padding: 20px 20px 20px 20px;
}

.react-multi-carousel-item {
  height: 250px;
}

.Modal-Style .modal-content {
  background-color: black;
  color: white;
}

.react-multi-carousel-list.carousel-container-with-scrollbar {
  padding: 10px;
  display: flex;
  align-items: center;

}

.highlight-work {
  width: 70%;
  margin: auto;
}

footer {
  margin: 15px;
}

.slider {
  width: 60% !important;
  background: rgba($color: #504e4e, $alpha: 0);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  white-space: normal;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .slider {
    width: 100% !important;
    padding: 4px !important;
  }
}

.click-text {
  position: absolute;
  width: 7em;
  top: 4em;
  right: 2%;
  text-align: center;
  color: #0062cc;
  font-style: italic;
  font-weight: bolder;
  color: cadetblue;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index: 200;
}

.arrow {
  position: absolute;
  top: 2em;
  right: 12%;
  z-index: 200;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 140px;
  height: 100px;
  transform: rotate(10deg);
}

.highlight-container {
  position: relative;
}

@media only screen and (max-width: 600px) {
  .arrow {
    width: 73px;
    height: 50px;
    top: 4.3em;
    right: 34%;
  }

  .click-text {
    top: 4em;
  }
}